{% extends 'base.html' %}
{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<div class="container" style="width:97%;" >
  <div class="row">
    <div class="col">
    <h2>Please select two talks</h2>
    <form id="get-talks">
      <div>
        Ted Talk 1 (Select an ID from 0-2549)
        <input type="text" name="ted_talk1" id="ted_talk1">
      </div>
  
      <div>
        Ted Talk 2 (Select an ID from 0-2549)
        <input type="text" name="ted_talk2" id="ted_talk2">
      </div>
      <input type="submit">
    </form>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Talk Comparison</h3>
      <hr>
    </div>
  </div>
  <div class="row" id="compare_talks">
    <div class="col">
      <dt>Talk Name</dt>
      <dd id="talk_name1">Unknown</dd>
      <dt>Comments</dt>
      <dd id="comments1">Unknown</dd>
      <dt>Views</dt>
      <dd id="views1">Unknown</dd>
      <dt>Duration</dt>
      <dd id="duration1">Unknown</dd>
    </div>
    <div class="col">
      <dt>Talk Name</dt>
      <dd id="talk_name2">Unknown</dd>
      <dt>Comments</dt>
      <dd id="comments2">Unknown</dd>
      <dt>Views</dt>
      <dd id="views2">Unknown</dd>
      <dt>Duration</dt>
      <dd id="duration2">Unknown</dd>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="Area1" ></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3></h3>
    </div>
  </div>

  </div>
 
  <script>
    "use strict";
    </script>
    <script src="/static/ajax2.js"></script>
 
{% endblock %}