{% extends 'base.html' %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>

<div class="well spaced" style="width:97%;">
<h1>{{ talk.talk_name }}</h1>

<div class="row">

  <div class="col-xs-12 col-lg-6">
    <p>Released Year: {{ talk.published_year }}</p>

    <p>Talk Information: Duration {{talk.duration}} Number of Views: {{talk.num_views}} Number of comments {{talk.num_comments}}
    </p>
    {% for key, value in rating_dict.items() %}
    <ul>
      <li>
        <p>Rating {{key}} Count {{value}}</p>
      </li>
    {% endfor %}
    </ul>
  
  {% endblock %}
