{% extends 'base.html' %}
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<div class="container" style="width:97%;">
  <div class="row">
    <div class="col">
      <h1>{{ talk.talk_name }}</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Description</h1>
      {{talk.description}}
    </div>
    <div class="col">
      <h1>Statistics</h1>
      <p>Released Year: {{ talk.published_year }}</p>
      <p>Duration {{talk.duration_min}} min {{talk.duration_sec}} sec</p>
      <p>Number of Views: {{"{:,d}".format(talk.num_views)}} </p>
      <p>Number of comments {{"{:,d}".format(talk.num_comments)}}</p>
      <p>Speaker: {{talk.speaker.speaker_name}}</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col">
      <h1>Ratings</h1>
      <div id="Area" ></div>
    </div>
  </div>
  </div>



<script>
  myvar = '{{rating_list|tojson}}';
  var parsed = JSON.parse(myvar);
  var ratings=parsed;

// set the dimensions and margins of the graph
var margin = {top: 10, right: 40, bottom: 30, left: 50},
    width = 1000 - margin.left - margin.right,
    height = 800 - margin.top - margin.bottom;


  var svg=d3.select('#Area')
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform","translate(" + margin.left + "," + margin.top + ")");
  //Getting data
  var sqrtScale = d3.scaleSqrt()
	  .domain([0, 20000])
	  .range([5, 40]);
  var linearScale = d3.scaleLinear()
	  .domain([0, 20000])
	  .range([0, 700]);
  var colorize = function(d) {if (d.name == "Funny") {return "orange";}
                              if (d.name == "Beautiful") {return "steelblue"}
                              if (d.name == "Ingenious") {return "yellow"}
                              if (d.name == "Courageous") {return "green"}
                              if (d.name == "Longwinded") {return "red"}
                              if (d.name == "Persuasive") {return "purple"}
                              if (d.name == "Unconvincing") {return "Chartreuse"}
                              if (d.name == "Fascinating") {return "Chocolate"}
                              if (d.name == "Inspiring") {return "Olive"}
                              if (d.name == "Obnoxious") {return "DeepPink"}
                              if (d.name == "OK") {return "Aqua"}
                              if (d.name == "Informative") {return "Gold"}
                              if (d.name == "Confusing") {return "Salmon"}
                              if (d.name == "Jaw-dropping") {return "MistyRose"}
                              }
  
  svg
    .selectAll("whatever")
    .data(ratings)
    .enter()
    .append("circle")
      .attr('r', function(d) {
        return sqrtScale(d.count);
        })
      .attr('cx', function(d,i) {
        return i*65;
        })
      .attr('cy', 50)
      .attr("fill", colorize)
  svg
      .selectAll("whatever")
      .data(ratings)
      .enter()
      .append("text")
        .attr('y', 5)
        .attr("text-anchor", "middle")
        .attr('x', function(d,i){
          return (i*65);
          })
        .text(function(d){
          return d.count;
        });

  svg
      .selectAll("whatever")
      .data(ratings)
      .enter()
      .append("text")
        .attr('y', 100)
        .attr("text-anchor", "middle")
        .style("font-size", "10px")
        .attr('x', function(d,i){
          return (i*65);
          })
        .text(function(d){
          return d.name;
        });
</script>
  {% endblock %}
