{% extends 'base.html' %}
{% block content %}

<div class="well spaced" style="width:97%;">
<h1>{{ talk.talk_name }}</h1>

<div class="row">

  <div class="col-xs-12 col-lg-6">
    <p>Released Year: {{ talk.published_year }}</p>

    <p>Talk Information: Duration {{talk.duration}} Number of Views: {{talk.num_views}} Number of comments {{talk.num_comments}}
    </p>

    <ul>
      {% for rating in talk_rating %}
      <li>
        <p>{{ rating.rating_id}} {{rating.rating_count}}</p>
      </li>
      {% endfor %}
    </ul>
  
  {% endblock %}
